/* COMMON */

:root {
    --bold-text-color: #182370;
    --regular-text-color: #5b6bb9;
    --border-color: #dcdbdc;
    --button-color: #fe9f27;
    --highlight-color: #284df8;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #e8eaf6;
}

.main {
    display: flex;
    position: absolute;
    width: 1343px;
    height: 635px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* END OF COMMON */

/* HERO */

.hero {
    padding-top: 180px;
    padding-left: 70px;
    flex-basis: 45.25%;
}

.hero__subheader {
    margin: 0;
    color: var(--regular-text-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.hero__header {
    width: 80%;
    margin-top: 6px;
    margin-bottom: 0;
    color: var(--bold-text-color);
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 500;
}

.hero__header--blue {
    color: var(--highlight-color);
}

.hero__description {
    width: 85%;
    margin-top: 18px;
    margin-bottom: 16px;
    color: var(--regular-text-color);
    line-height: 28px;
    word-spacing: 1px;
}

.hero__cta-button {
    height: 37px;
    width: 85px;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1px;
    background-color: var(--button-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.hero__cta-button:hover {
    background-color: var(--highlight-color);
}

/* END OF HERO */

/* FEATURES */

.features {
    display: flex;
    margin-top: 46px;
}

.feature__container {
    margin-right: 25px;
}

.feature__container--offset {
    margin-top: 25px;
}

.feature {
    position: relative;
    width: 285px;
    height: 235px;
    margin-bottom: 23px;
    border: solid 1px var(--border-color);
    border-radius: 3px;
    background-color: white;
}

.feature__image {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 40px;
    height: 40px;
}

.feature__header {
    position: absolute;
    top: 81px;
    left: 25px;
    margin: 0;
    color: var(--bold-text-color);
    font-size: 20px;
    line-height: 31px;
    word-spacing: 1px;
}

.feature__description {
    position: absolute;
    top: 137px;
    left: 25px;
    width: 90%;
    color: var(--regular-text-color);
    font-size: 14px;
    line-height: 20px;
    word-spacing: 1px;
}

/* END OF FEATURES */

@media (max-width: 1280px) {
    .main {
        width: 100vw;
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .hero {
        width: 624px;
        padding-top: 0;
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .main {
        flex-direction: column;
        position: static;
        margin: 0 auto;
        width: 100vw;
        height: fit-content;
        transform: none;
    }
    .hero {
        margin: 0 auto;
        padding: 30px 0 0 0;
        width: 285px;
    }
    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature__container {
        margin-right: 0;
    }
    .feature__container--offset {
        margin-top: 0;
    }
}